

<div class="col-md-12">

  <!-- Mandatos -->
  <div class="card flat-card">
    <div class="card-header">
      <div><i class="icon-gavel-solid icon-h2"></i><h2>Mandatos</h2></div>
      <div class="card-actions">
        <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text " aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><i class="icon-certificate"></i><span class="dx-button-text">Crear Mandato</span></div></dx-button>
      </div>
    </div>
    <div class="card-body">

      <dx-data-grid 
    id="gridContainer"
    [dataSource]="dataSource"
    keyExpr="ID"
    [columnHidingEnabled]="true"
    [allowColumnReordering]="true"
    [showBorders]="true"
    (onEditingStart)="logEvent('EditingStart')"
    (onInitNewRow)="logEvent('InitNewRow')"
    (onRowInserting)="logEvent('RowInserting')"
    (onRowInserted)="logEvent('RowInserted')"
    (onRowUpdating)="logEvent('RowUpdating')"
    (onRowUpdated)="logEvent('RowUpdated')"
    (onRowRemoving)="logEvent('RowRemoving')"
    (onRowRemoved)="logEvent('RowRemoved')"
    (onSaving)="logEvent('Saving')"
    (onSaved)="logEvent('Saved')"
    (onEditCanceling)="logEvent('EditCanceling')"
    (onEditCanceled)="logEvent('EditCanceled')">

    <dxo-pager
        [allowedPageSizes]="[5, 8, 15, 30]"
        [showInfo]="true"
        [showNavigationButtons]="true"
        [showPageSizeSelector]="true"
        [visible]="true">
    </dxo-pager>

    <dxo-paging [pageSize]="8"></dxo-paging>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-editing 
         mode="row"
         [allowUpdating]="true"
         [allowDeleting]="true"
         [allowAdding]="true">
    </dxo-editing>


    
    
    <dxi-column dataField="Prefix" caption="Title"></dxi-column>
    <dxi-column dataField="FirstName"></dxi-column>
    <dxi-column dataField="LastName"></dxi-column>
    <dxi-column dataField="Position" [width]="130"></dxi-column>
    <dxi-column
        dataField="StateID"
        caption="State"
        [width]="125">         
        <dxo-lookup
            [dataSource]="states"
            displayExpr="Name"
            valueExpr="ID">
        </dxo-lookup>
    </dxi-column>
    <dxi-column
        dataField="BirthDate"
        [width]="125"
        dataType="date">
    </dxi-column>
    </dx-data-grid>


     

    </div>
  </div>

  <div class="card flat-card">
    <div class="card-header">
      <div><i class="icon-marker-solid icon-h2"></i><h2>Registro factura</h2></div>
      <div class="card-actions">
        <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><i class="icon-cloud-upload-alt-solid"></i><span class="dx-button-text">Cargar</span></div></dx-button>
        <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><i class="icon-marker-solid"></i><span class="dx-button-text">Registrar</span></div></dx-button>


      </div>
    </div>
    
    <div class="card-body">
      <p>Registro para primera circulación de la factura electrónica de venta como título valor. Consulte las facturas crédito que tiene pendiente por registrar ante la DIAN.</p>

    </div>

  </div>



  <div class="card flat-card">
    <div class="card-header">
      <div><i class="icon-user-cog-solid icon-h2"></i><h2>Parametrización pagador</h2></div>
      <div class="card-actions">
        <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><i class="icon-user-plus-solid"></i><span class="dx-button-text">Agregar pagador</span></div></dx-button>

      </div>
    </div>
    
    <div class="card-body">
      <p>Aquí puede agregar, suspender y editar los parámetros para que el sistema realice el endoso automáticamente.</p>

      <dx-data-grid 
    id="gridContainer"
    [dataSource]="dataSource"
    keyExpr="ID"
    [columnHidingEnabled]="true"
    [allowColumnReordering]="true"
    [showBorders]="true"
    (onEditingStart)="logEvent('EditingStart')"
    (onInitNewRow)="logEvent('InitNewRow')"
    (onRowInserting)="logEvent('RowInserting')"
    (onRowInserted)="logEvent('RowInserted')"
    (onRowUpdating)="logEvent('RowUpdating')"
    (onRowUpdated)="logEvent('RowUpdated')"
    (onRowRemoving)="logEvent('RowRemoving')"
    (onRowRemoved)="logEvent('RowRemoved')"
    (onSaving)="logEvent('Saving')"
    (onSaved)="logEvent('Saved')"
    (onEditCanceling)="logEvent('EditCanceling')"
    (onEditCanceled)="logEvent('EditCanceled')">

    <dxo-pager
        [allowedPageSizes]="[5, 8, 15, 30]"
        [showInfo]="true"
        [showNavigationButtons]="true"
        [showPageSizeSelector]="true"
        [visible]="true">
    </dxo-pager>

    <dxo-paging [pageSize]="8"></dxo-paging>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-editing 
         mode="row"
         [allowUpdating]="true"
         [allowDeleting]="true"
         [allowAdding]="true">
    </dxo-editing>


    
    
    <dxi-column dataField="Prefix" caption="Title"></dxi-column>
    <dxi-column dataField="FirstName"></dxi-column>
    <dxi-column dataField="LastName"></dxi-column>
    <dxi-column dataField="Position" [width]="130"></dxi-column>
    <dxi-column
        dataField="StateID"
        caption="State"
        [width]="125">         
        <dxo-lookup
            [dataSource]="states"
            displayExpr="Name"
            valueExpr="ID">
        </dxo-lookup>
    </dxi-column>
    <dxi-column
        dataField="BirthDate"
        [width]="125"
        dataType="date">
    </dxi-column>
    </dx-data-grid>

    </div>

  </div>

  <div class="card flat-card">
    <div class="card-header">
      <div><i class="icon-hand-holding-usd-solid icon-h2"></i><h2>Pagadores</h2></div>
      <div class="card-actions">
        <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><i class="icon-user-plus-solid"></i><span class="dx-button-text">Agregar pagador</span></div></dx-button>

      </div>
    </div>
    
    <div class="card-body">
      <p>Aquí puede agregar, suspender y editar los parámetros para que el sistema realice el endoso automáticamente.</p>
    </div>

  </div>


  <div class="card flat-card">
    <div class="card-header">
      <div><i class="icon-search-solid icon-h2"></i><h2>Consulta pagador</h2></div>
      <div class="card-actions">
        <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><i class="icon-user-plus-solid"></i><span class="dx-button-text">Agregar pagador</span></div></dx-button>

      </div>
    </div>
    
    <div class="card-body">
      <p>Consulte el pagador al cual quiere parametrizar.</p>
      <div class="py-2 px-5 br-4">
        <div id="form-container">
          <dx-form id="form"
              [colCount]="2"
              [formData]="employee">
              <dxi-item dataField="Nombre / Razón social" [editorOptions]="{ disabled: false }"></dxi-item>
              <dxi-item dataField="Número de documento" [editorOptions]="{ disabled: false }"></dxi-item>
              <dxi-item></dxi-item>

              <dxi-item 
              itemType="button" 
              horizontalAlignment="right"
              verticalAlignment="center"
              [buttonOptions]="buttonConsultar">
              </dxi-item>

          </dx-form>
        </div>

      </div>

    </div>
  </div>



  <div class="card flat-card">
    <div class="card-header">
      <div><i class="icon-file-invoice-solid icon-h2"></i><h2>Detalle factura</h2></div>
    </div>
    
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dolores.</p>
      <div class="grid-card bg-light-gray">
        <div class="bank-name">
          <h4>Número de factura</h4><p class="text-highlight">ABC322</p>
        </div>
        <div class="bank-account">
          <h4>Adquiriente</h4><p class="">Cooperativa Nacional</p>  
        </div>
        <div class="account-holder">
          <h4>Valor</h4><p class="">232´890.000</p>  
        </div>
        <div class="actions">
          <div class="container-actions">
          <div><i class="icon-ok me-2"></i> <p>Estado <strong>Aceptada</strong></p></div>
          
          <div>
            <ul>
              <li><a [routerLink]="" data-bs-toggle="tooltip" data-placement="top" title="Descargar PDF"><i class="icon-file-pdf-solid"></i><span>Descargar PDF</span></a></li>
              <li><a [routerLink]="" data-bs-toggle="tooltip" data-placement="top" title="Exportar"><i class="icon-file-code-solid"></i><span>Exportar</span></a></li>
              <li><a [routerLink]="" data-bs-toggle="tooltip" data-placement="top" title="Adjuntar Documento"><i class="icon-paperclip-solid"></i><span>Adjuntar</span></a></li>
            </ul>
          </div>
        </div>
        </div>
      </div>


    </div>

  </div>


  <div class="card flat-card">
    <div class="card-header">
      <div><i class="icon-tasks-solid icon-h2"></i><h2>Facturas inscritas</h2></div>
    </div>
    
    <div class="card-body">
      <p>A continuación, encontrarás información de las facturas inscritas en <strong>RADIAN</strong> lista para su compra, si necesitas más información del emisor de la factura solo da un clic en el nombre.</p>

      <p>Recuerda que puedes configurar la compra directa de facturas en <strong>Factura / Compra Directa</strong>.</p>

      <div class="py-2 px-5 br-4">
        <div id="form-container">
          <dx-form id="form"
              [colCount]="2"
              [formData]="employee">
              <dxi-item dataField="Nombre / Razón social" [editorOptions]="{ disabled: false }"></dxi-item>
              <dxi-item dataField="Número de documento" [editorOptions]="{ disabled: false }"></dxi-item>
              <dxi-item></dxi-item>

              <dxi-item 
              itemType="button" 
              horizontalAlignment="right"
              verticalAlignment="center"
              [buttonOptions]="buttonConsultar">
          </dxi-item>

          </dx-form>
        </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-12 col-lg-8 order-2 order-lg-1"> 
          <div class="card flat-card">
            <div class="card-header p-0">
              <div class="dx-fieldset m-0 d-flex justify-content-between w-100 px-4">
                <div class="dx-field m-0">
                  <!-- <div class="dx-field-label"></div> -->
                  <div class="dx-field-value">
                      <dx-check-box [value]="false"></dx-check-box>
                  </div>
                </div>
                <div class="dx-field m-0">
                  <!-- <div class="dx-field-label"></div> -->
                  <div class="dx-field-value w-100">
                      <dx-select-box [items]="simpleProducts"></dx-select-box>
                  </div>
              </div>
              </div>
            </div>
            <div class="card-body p-0">

              <div class="issuing-wrapper">
    
                <div class="grid-issuing">
                  <div class="check-column">
                    <div class="dx-field m-0">
                      <div class="dx-field-value">
                          <dx-check-box [value]="false"></dx-check-box>
                      </div>
                    </div>
                  </div>
    
                  <div class="issuing-company">
                    <h4>Emisor</h4>
                    <p class="text-highlight">Muebles Europeos S.A.</p>
                  </div>
    
                  <div class="value">
                    <h4>Valor</h4>
                    <p><strong>$ 6'450.000</strong></p>
                  </div>
    
                  <div class="rate">
                    <h4>Tasa Max.</h4>
                    <p>88,55% EM</p>
                  </div>
    

    
                  <div class="detail-information">
                    <p>
                      <a href="" class="me-3" ><i class="icon-file-download-solid"></i><span>Descargar</span></a>
                      <a class="" data-bs-toggle="collapse" href="#collapse01" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="icon-caret-down-solid mr-2"></i>Más Información
                      </a>
                    </p>
                    <div class="collapse" id="collapse01">
                      <div class="detail-wrapper">
                        <!-- Información de detalle -->
                        <div class="grid-detail">
                          <div class="business-name">
                            <h4>Razón social</h4>
                            <p>Farmacéutica Planeta LTDA.</p>
                          </div>
                          <div class="nit-number">
                            <h4>NIT</h4>
                            <p>952147236-4</p>
                          </div>
                          <div class="agent">
                            <h4>Representante legal</h4>
                            <p>Pedro Ismael Contreras Díaz</p>
                          </div>
                          <div class="department">
                            <h4>Departamento</h4>
                            <p>Antioquia</p>
                          </div>
                          <div class="city">
                            <h4>Ciudad</h4>
                            <p>Medellín</p>
                          </div>
                          <div class="location">
                            <h4>Dirección</h4>
                            <p>Cra. 56 H # 65-50</p>
                          </div>
                          <div class="chamber">
                            <h4>Cámara de Comercio</h4>
                            <p>Cámara de comercio de Bogotá</p>
                          </div>
                          <div class="type">
                            <h4>Tipo de sociedad
                              <p>Privada</p>
                            </h4>
                          </div>

                          
                          <div class="btn-active">
                            <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Activo</span></div></dx-button>
                          </div>
                          <div class="btn-pasive">
                            <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Pasivo</span></div></dx-button>
                          </div>
                          <div class="btn-patrimony">
                            <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Patrimonio</span></div></dx-button>
                          </div>
                          <div class="btn-results">
                            <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Estado de resultados</span></div></dx-button>
                          </div>
                          <div class="tax-info">
                            <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Información tributaria</span></div></dx-button>  
                          </div>
                          <div class="btn-activity">
                            <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Actividad económica</span></div></dx-button>

                          </div>
                          <div class="blank">
    
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
    
                  <div class="acquirer">
                      <h4>Adquiriente</h4>
                      <p>Colegio del Occidente</p>
                  </div>
    
                  <div class="expiration-date">
                    <h4>Fecha de vencimiento</h4>
                    <p>25/06/2021</p>
                  </div>
    
                  <div class="days-left">
                      <h4>Días Faltantes</h4>
                      <p>54 días</p>
                  </div>
    
                </div>
    
    
                <div class="grid-issuing bg-light-orange">
                  <div class="check-column">
                    <div class="dx-field m-0">
                      <div class="dx-field-value">
                          <dx-check-box [value]="false"></dx-check-box>
                      </div>
                    </div>
                  </div>
    
                  <div class="issuing-company">
                    <h4>Emisor</h4>
                    <p class="text-highlight">Muebles Europeos S.A.</p>
                  </div>
    
                  <div class="value">
                    <h4>Valor</h4>
                    <p><strong>$ 6'450.000</strong></p>
                  </div>
    
                  <div class="rate">
                    <h4>Tasa Max.</h4>
                    <p>88,55% EM</p>
                  </div>
    
                  <div class="detail-information">
                    <p>
                      <a href="" class="me-3" ><i class="icon-file-download-solid"></i><span>Descargar</span></a>
                      <a class="" data-bs-toggle="collapse" href="#collapse02" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="icon-caret-down-solid mr-2"></i>Más Información
                      </a>
                    </p>
                    <div class="collapse" id="collapse02">
                      <div class="detail-wrapper">
                        <!-- Información de detalle -->
                        <div class="grid-detail">
                          <div class="business-name">
                            <h4>Razón social</h4>
                            <p>Farmacéutica Planeta LTDA.</p>
                          </div>
                          <div class="nit-number">
                            <h4>NIT</h4>
                            <p>952147236-4</p>
                          </div>
                          <div class="agent">
                            <h4>Representante legal</h4>
                            <p>Pedro Ismael Contreras Díaz</p>
                          </div>
                          <div class="department">
                            <h4>Departamento</h4>
                            <p>Antioquia</p>
                          </div>
                          <div class="city">
                            <h4>Ciudad</h4>
                            <p>Medellín</p>
                          </div>
                          <div class="location">
                            <h4>Dirección</h4>
                            <p>Cra. 56 H # 65-50</p>
                          </div>
                          <div class="chamber">
                            <h4>Cámara de Comercio</h4>
                            <p>Cámara de comercio de Bogotá</p>
                          </div>
                          <div class="type">
                            <h4>Tipo de sociedad
                              <p>Privada</p>
                            </h4>
                          </div>
                          <div class="btn-active">
                            <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Activo</span></div></dx-button>
                          </div>
                          <div class="btn-pasive">
                            <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Pasivo</span></div></dx-button>
                          </div>
                          <div class="btn-patrimony">
                            <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Patrimonio</span></div></dx-button>
                          </div>
                          <div class="btn-results">
                            <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Estado de resultados</span></div></dx-button>
                          </div>
                          <div class="tax-info">
                            <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Información tributaria</span></div></dx-button>  
                          </div>
                          <div class="btn-activity">
                            <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><span class="dx-button-text">Actividad económica</span></div></dx-button>

                          </div>
                          <div class="blank">
    
                          </div>
                        </div>
    
    
    
                      </div>
                    </div>
                  </div>
    
                  <div class="acquirer">
                      <h4>Adquiriente</h4>
                      <p>Colegio del Occidente</p>
                  </div>
    
                  <div class="expiration-date">
                    <h4>Fecha de vencimiento</h4>
                    <p>25/06/2021</p>
                  </div>
    
                  <div class="days-left">
                      <h4>Días Faltantes</h4>
                      <p>54 días</p>
                  </div>
    
                </div>
              </div>


            </div>
          </div>
          

    </div>
    
    
    <div class="col-12 col-lg-4 order-1 order-lg-2">

      <!-- <div class="card flat-card">
        <div class="card-header">
          <div><h2>Resumen compra</h2></div>
        </div>
        <div class="card-body">
        <p class="mb-3">Seleccione las facturas que desea comprar.</p>
        <dx-form id="form"
        [colCount]="1"
        [formData]="employee">
        <dxi-item 
        itemType="button" 
        horizontalAlignment="center"
        verticalAlignment="center"
        [buttonOptions]="buttonComprar">
        </dxi-item>
        </dx-form>
        </div>
      </div> -->

      <div class="card flat-card">
        <div class="card-header">
          <div><h2>Resumen compra</h2></div>
        </div>
        <div class="card-body">
                <div class="purchase-item">
                  <h4>Emisor</h4>
                  <p class="text-highlight">Farmacéutica  Planeta</p>
                  <div class="grid-purchase-detail">
                    <div class="quantity">
                      <h4>Cant.</h4>
                      <p>2</p>
                    </div>
                    <div class="value">
                      <h4>Valor</h4>
                      <p>$ 9'722.660</p>
                    </div>
                  </div>
                  </div>
                 <div class="purchase-item">
                  <h4>Emisor</h4>
                  <p class="text-highlight">Farmacéutica  Planeta</p>
                  <div class="grid-purchase-detail">
                    <div class="quantity">
                      <h4>Cant.</h4>
                      <p>2</p>
                    </div>
                    <div class="value">
                      <h4>Valor</h4>
                      <p>$ 9'722.660</p>
                    </div>
                  </div>
                </div>
                <div class="purchase-total mb-4">
                  <p>TOTAL</p>
                  <p class="text-highlight">$ 16'172.660</p>
                </div>
          
        <dx-form id="form"
        [colCount]="1"
        [formData]="employee">
        <dxi-item 
        itemType="button" 
        horizontalAlignment="center"
        verticalAlignment="center"
        [buttonOptions]="buttonComprar">
        </dxi-item>
        </dx-form>
        </div>
      </div>
    </div>
  </div>
  </div>





