<dx-tab-panel>
    <dxi-item title="Datos empresa">
        <div class="row">
            <div class="col-md-12">
                <!-- Información Básica -->
                <div class="card flat-card">
                  <div class="card-header">
                    <div><i class="icon-user-cog-solid icon-h2"></i><h2>Información básica</h2></div>
                    <div class="card-actions">
                      <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text me-2" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><i class="icon-edit-solid"></i><span class="dx-button-text">Normal</span></div></dx-button>
                      <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><i class="icon-edit-solid"></i><span class="dx-button-text">Editar</span></div></dx-button>
                    </div>
                  </div>
                  <div class="card-body">
                    <h3 class="mb-0 mt-4">Empresa</h3>
                    <div class="grid-info">
                        
                      <div class="title-grid">
                            
                            <div>
                                <h4>Razón Social</h4><p class="text-highlight">Company Name</p>
                            </div>
                        <div>
                            <h4>NIT</h4><p class="text-highlight">923456781-1</p>
                        </div>
                        
                    </div>
                    
                      <div class="company-name">
                        <img src='https://dummyimage.com/250x250.png' class="img-fluid" alt=''/>
                      </div>
                      <div class="kind">
                          <h4>Tipo de Sociedad</h4><p>Sociedad Anónima</p>
                          <h4>Sociedad Comercial o Civil</h4><p>Sociedad Civil</p>
                          <h4>Fecha de constitución</h4><p>2015-11-05</p>
                      </div>
                      <div class="association">
                        <h4>Cámara de Comercio</h4>
                        <p>Cámara de Comercio de Bogotá</p>
                        <h4>Tipo de Tributo</h4>
                        <p>IVA</p>
                      </div>
                      <div class="address">
                            <div>
                            <h4>Dirección</h4>
                            <p>Calle 120 # 45 - 63<br>
                            Bogotá<br>
                            Cundinamarca</p>
                            </div>      
                            <div>
                                <h4>Correo electrónico</h4><p>oscargomez@alfa.com</p>
                            </div>
                            <div>
                                <h4>Teléfonos</h4><p>51 1 300 3030  /   311 300 3030 </p>
                            </div>
                
                      </div>
                    </div>
                    <h3 class="mt-4">Representante Legal</h3>
                    <div class="grid-agent">
                      
                      <div class="title-grid-agent">
                        <div>
                            <h4>Nombre</h4><p class="text-highlight">José Díaz Restrepo</p>
                        </div>
                        <div>
                            <h4>Cédula</h4><p class="text-highlight">1234567</p>
                        </div>
                      </div>

                      <div class="id-number">
                        
                        <h4>Expedición documento</h4><p>Medellín, Antioquia</p>
                        <h4>Fecha de nacimiento</h4><p>2015-11-05</p>
                      </div>

                      <div class="position">
                          <h4>Cargo</h4><p>Gerente general</p>
                      </div>

                      <div class="agent-contact">
                        <h4>Correo electrónico</h4><p>cliente@alfa.com</p>
                        <h4>Celular</h4><p>311 900 9090</p>
                        <h4>Teléfono</h4><p>9 00 90 90</p>
                      </div>

                      <div class="agent-address">
                        <div><h4>Domicilio</h4><p>Cali</p>
                        <p>Valle del Cauca</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              
              </div>
        </div>
    </dxi-item>
    <dxi-item title="Cuenta Bancaria">
       <div class="row">
        <div class="col-md-12">

            <!-- Información Bancaria -->
            <div class="card flat-card">
              <div class="card-header">
                <div><i class="icon-landmark-solid icon-h2"></i><h2>Información bancaria</h2></div>
                <div class="card-actions">
                  <dx-button _ngcontent-vdn-c102="" text="Normal" type="normal" class="button-indent dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-text" aria-label="Normal" tabindex="0" role="button"><div class="dx-button-content"><i class="icon-money-check-alt-solid"></i><span class="dx-button-text">Agregar cuenta</span></div></dx-button>
                </div>
              </div>
              <div class="card-body">
                <div class="grid-card bg-light-orange">
                  <div class="actions">
                    <div class="container-actions justify-content-between">
                    <div><i class="icon-thumbtack-solid me-2"></i> <p>Cuenta principal</p></div>
                    <ul>
                      <li><a href=""><i class="icon-file-pdf-solid"></i><span>Certificado</span></a></li>
                      <li><a href=""><i class="icon-pen-solid"></i><span>Editar</span></a></li>
                    </ul>
                  </div>
                  </div>
                    <div class="bank-name">
                      <h4>Banco</h4><p class="text-highlight">Banco de Bogotá</p>
                    </div>
                    <div class="bank-account">
                      <h4>Número de cuenta</h4><p class="">17156780440-1  Ahorros</p>  
                    </div>
                    <div class="account-holder">
                      <h4>Nombre Titular</h4><p class="">Oscar Gómez</p>  
                    </div>
        
                  </div>
        
              
                  <div class="grid-card bg-light-gray ">
                    <div class="actions">
                      <div class="container-actions justify-content-between">
                      <div></div>
                      <ul>
                        <li><a href=""><i class="icon-file-pdf-solid"></i><span>Certificado</span></a></li>
                        <li><a href=""><i class="icon-pen-solid"></i><span>Editar</span></a></li>
                      </ul>
                    </div>
                    </div>
                    <div class="bank-name">
                      <h4>Banco</h4><p class="text-highlight">Banco de Bogotá</p>
                    </div>
                    <div class="bank-account">
                      <h4>Número de cuenta</h4><p class="">17156780440-1  Ahorros</p>  
                    </div>
                    <div class="account-holder">
                      <h4>Nombre Titular</h4><p class="">Oscar Gómez</p>  
                    </div>
        
                  </div>
               
        
              </div>
            </div>
        
        
        </div>

       </div>
    </dxi-item>


    <dxi-item title="Balance General">
      <div class="row">
       <div class="col-md-12">

           <!-- Balance general -->
           <div class="card flat-card">
             <div class="card-header">
               <div><i class="icon-balance-scale-solid icon-h2"></i><h2>Balance general</h2></div>
               <div class="card-actions">
               </div>
             </div>
             <div class="card-body">
              <p  class="mb-4">Diligencie la información solicitada.</p>

            
            

              <!-- Bootstrap Accordion -->

              <div class="accordion accordion-flush balance-sheet" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed filled-out" type="button"  data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" >
                      <span><i class="icon-ok-circled"></i></span>
                      <span>Activo</span>
                      
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                     
              <h4 class="mt-3">Fecha de Corte período</h4>
               <ul class="nav nav-pills mb-3 mt-4" id="pills-activo" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-actual-tab" data-bs-toggle="pill" data-bs-target="#pills-actual" type="button" role="tab" aria-controls="pills-actual" aria-selected="true">Actual</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-anterior-tab" data-bs-toggle="pill" data-bs-target="#pills-anterior" type="button" role="tab" aria-controls="pills-anterior" aria-selected="false">Anterior</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-2anteriores-tab" data-bs-toggle="pill" data-bs-target="#pills-2anteriores" type="button" role="tab" aria-controls="pills-2anteriores" aria-selected="false">2 Anteriores</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-actual" role="tabpanel" aria-labelledby="pills-actual-tab">
                        <div id="form-container">
                              <form action="your-action" (submit)="onSubmit()"> 
                                <dx-form id="form">

                              <dxi-item itemType="group" cssClass="first-group" [colCount]="3">
                                <dxi-item itemType="group" dataField="Fecha" >
                                  
                                  <dx-date-box
                                  [value]="now"

                                  type="date">
                                </dx-date-box>
                                </dxi-item>
                                <dxi-item dataField="Caja y bancos"></dxi-item>
                                <dxi-item dataField="Inventarios"></dxi-item>
                              </dxi-item>
                      
                              <dxi-item class="mb-0">
                              <p class="mb-0"><strong>Cuentas por cobrar</strong></p>
                            </dxi-item>

                              <dxi-item itemType="group" cssClass="second-group" [colCount]="5">
                                <dxi-item dataField="a 30 días"></dxi-item>
                                <dxi-item dataField="a 60 días"></dxi-item>
                                <dxi-item dataField="a 90 días"></dxi-item>
                                <dxi-item dataField="a +90 días"></dxi-item>
                                <dxi-item dataField="difícil cobro"></dxi-item>
                              </dxi-item>
                      
                              <dxi-item itemType="group" cssClass="third-group" [colCount]="5">
                                <dxi-item dataField="Total Cuentas por cobrar"></dxi-item>
                              </dxi-item>

                              <dxi-item class="mb-0">
                                <p class="mb-0"><strong>Otros activos</strong></p>
                              </dxi-item>
                                                                                
                              <dxi-item itemType="group" cssClass="fourth-group" [colCount]="3">
                                  <dxi-item dataField="Otros activos corrientes"></dxi-item>
                                  <dxi-item dataField="Total activos corrientes"></dxi-item>
                                  <dxi-item dataField="Propiedad planta y equipo"></dxi-item>
                              </dxi-item>
                      
                              <dxi-item itemType="group" cssClass="fifth-group" [colCount]="3">
                                <dxi-item dataField="Intangibles y otros"></dxi-item>
                                <dxi-item dataField="Total activos fijos"></dxi-item>
                                <dxi-item dataField="Total activos"></dxi-item>
                              </dxi-item>
                    
                              <dxi-item itemType="group" cssClass="six-group" [colCount]="1">  
                      
                                <dxi-item 
                                itemType="button"
                                horizontalAlignment="right"
                                [buttonOptions]="buttonModificar">
                                </dxi-item>
                          
                              </dxi-item>
                            </dx-form>
                          </form>
                        </div>
                </div>


                <div class="tab-pane fade" id="pills-anterior" role="tabpanel" aria-labelledby="pills-anterior-tab">
                          <div id="form-container">
                            <form action="your-action" (submit)="onSubmit()"> 
                              <dx-form id="form">

                            <dxi-item itemType="group" cssClass="first-group" [colCount]="3">
                              <dxi-item itemType="group" dataField="Fecha" >
                                
                                <dx-date-box
                                [value]="now"

                                type="date">
                              </dx-date-box>
                              </dxi-item>
                              <dxi-item dataField="Caja y bancos"></dxi-item>
                              <dxi-item dataField="Inventarios"></dxi-item>
                            </dxi-item>
                    
                            <dxi-item class="mb-0">
                            <p class="mb-0"><strong>Cuentas por cobrar</strong></p>
                          </dxi-item>

                            <dxi-item itemType="group" cssClass="second-group" [colCount]="5">
                              <dxi-item dataField="a 30 días"></dxi-item>
                              <dxi-item dataField="a 60 días"></dxi-item>
                              <dxi-item dataField="a 90 días"></dxi-item>
                              <dxi-item dataField="a +90 días"></dxi-item>
                              <dxi-item dataField="difícil cobro"></dxi-item>
                            </dxi-item>
                    
                            <dxi-item itemType="group" cssClass="third-group" [colCount]="5">
                              <dxi-item dataField="Total Cuentas por cobrar"></dxi-item>
                            </dxi-item>

                            <dxi-item class="mb-0">
                              <p class="mb-0"><strong>Otros activos</strong></p>
                            </dxi-item>
                                                                              
                            <dxi-item itemType="group" cssClass="fourth-group" [colCount]="3">
                                <dxi-item dataField="Otros activos corrientes"></dxi-item>
                                <dxi-item dataField="Total activos corrientes"></dxi-item>
                                <dxi-item dataField="Propiedad planta y equipo"></dxi-item>
                            </dxi-item>
                    
                            <dxi-item itemType="group" cssClass="fifth-group" [colCount]="3">
                              <dxi-item dataField="Intangibles y otros"></dxi-item>
                              <dxi-item dataField="Total activos fijos"></dxi-item>
                              <dxi-item dataField="Total activos"></dxi-item>
                            </dxi-item>
                  
                            <dxi-item itemType="group" cssClass="six-group" [colCount]="1">  
                    
                              <dxi-item 
                              itemType="button"
                              horizontalAlignment="right"
                              [buttonOptions]="buttonModificar">
                              </dxi-item>
                        
                            </dxi-item>
                          </dx-form>
                        </form>
                      </div>
                </div>


                <div class="tab-pane fade" id="pills-2anteriores" role="tabpanel" aria-labelledby="pills-2anteriores-tab">
                        <div id="form-container">
                              <form action="your-action" (submit)="onSubmit()"> 
                                <dx-form id="form">

                              <dxi-item itemType="group" cssClass="first-group" [colCount]="3">
                                <dxi-item itemType="group" dataField="Fecha" >
                                  
                                  <dx-date-box
                                  [value]="now"

                                  type="date">
                                </dx-date-box>
                                </dxi-item>
                                <dxi-item dataField="Caja y bancos"></dxi-item>
                                <dxi-item dataField="Inventarios"></dxi-item>
                              </dxi-item>
                      
                              <dxi-item class="mb-0">
                              <p class="mb-0"><strong>Cuentas por cobrar</strong></p>
                            </dxi-item>

                              <dxi-item itemType="group" cssClass="second-group" [colCount]="5">
                                <dxi-item dataField="a 30 días"></dxi-item>
                                <dxi-item dataField="a 60 días"></dxi-item>
                                <dxi-item dataField="a 90 días"></dxi-item>
                                <dxi-item dataField="a +90 días"></dxi-item>
                                <dxi-item dataField="difícil cobro"></dxi-item>
                              </dxi-item>
                      
                              <dxi-item itemType="group" cssClass="third-group" [colCount]="5">
                                <dxi-item dataField="Total Cuentas por cobrar"></dxi-item>
                              </dxi-item>

                              <dxi-item class="mb-0">
                                <p class="mb-0"><strong>Otros activos</strong></p>
                              </dxi-item>
                                                                                
                              <dxi-item itemType="group" cssClass="fourth-group" [colCount]="3">
                                  <dxi-item dataField="Otros activos corrientes"></dxi-item>
                                  <dxi-item dataField="Total activos corrientes"></dxi-item>
                                  <dxi-item dataField="Propiedad planta y equipo"></dxi-item>
                              </dxi-item>
                      
                              <dxi-item itemType="group" cssClass="fifth-group" [colCount]="3">
                                <dxi-item dataField="Intangibles y otros"></dxi-item>
                                <dxi-item dataField="Total activos fijos"></dxi-item>
                                <dxi-item dataField="Total activos"></dxi-item>
                              </dxi-item>
                    
                              <dxi-item itemType="group" cssClass="six-group" [colCount]="1">  
                      
                                <dxi-item 
                                itemType="button"
                                horizontalAlignment="right"
                                [buttonOptions]="buttonModificar">
                                </dxi-item>
                          
                              </dxi-item>
                            </dx-form>
                          </form>
                        </div>
                  </div>

                </div>

                    </div> 
                    <!-- Accordion body -->
                  </div>
                </div>
                
                <div class="accordion-item" >
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed filled-out" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      <span><i class="icon-ok-circled"></i></span>
                      <span>Pasivo</span> 
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                      <h4 class="mt-3">Fecha de Corte período</h4>
                      <ul class="nav nav-pills mb-3 mt-4" id="pills-pasivo" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-pasivo-actual-tab" data-bs-toggle="pill" data-bs-target="#pills-pasivo-actual" type="button" role="tab" aria-controls="pills-pasivo-actual" aria-selected="true">Actual</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-pasivo-anterior-tab" data-bs-toggle="pill" data-bs-target="#pills-pasivo-anterior" type="button" role="tab" aria-controls="pills-pasivo-anterior" aria-selected="false">Anterior</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-pasivo-2anteriores-tab" data-bs-toggle="pill" data-bs-target="#pills-pasivo-2anteriores" type="button" role="tab" aria-controls="pills-pasivo-2anteriores" aria-selected="false">2 Anteriores</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-pasivo-actual" role="tabpanel" aria-labelledby="pills-pasivo-actual-tab">
                                <div id="form-container">
                                      <form action="your-action" (submit)="onSubmit()"> 
                                        <dx-form id="form">


                              
                                      <dxi-item class="mb-0">
                                      <p class="mb-0"><strong>Cuentas por cobrar</strong></p>
                                      </dxi-item>

                                      <dxi-item itemType="group" cssClass="first-group" [colCount]="4">
                                        <dxi-item dataField="a 30 días"></dxi-item>
                                        <dxi-item dataField="a 60 días"></dxi-item>
                                        <dxi-item dataField="a 90 días"></dxi-item>
                                        <dxi-item dataField="a +90 días"></dxi-item>
                                      </dxi-item>

                                      <dxi-item class="mb-0">
                                        <p class="mb-0"><strong>Pasivos financieros corto plazo</strong></p>
                                      </dxi-item>
                              
                                      <dxi-item itemType="group" cssClass="second-group" [colCount]="4">
                                        <dxi-item dataField="a 30 días"></dxi-item>
                                        <dxi-item dataField="a 60 días"></dxi-item>
                                        <dxi-item dataField="a 90 días"></dxi-item>
                                        <dxi-item dataField="a +90 días"></dxi-item>
                                      </dxi-item>

                                      <dxi-item class="mb-0">
                                        <p class="mb-0"><strong>Otros pasivos</strong></p>
                                      </dxi-item>
                                                                                        
                                      <dxi-item itemType="group" cssClass="third-group" [colCount]="3">
                                          <dxi-item dataField="Otros pasivos corrientes"></dxi-item>
                                          <dxi-item dataField="Total pasivos corrientes"></dxi-item>
                                          <dxi-item dataField="Obligaciones financieras"></dxi-item>
                                      </dxi-item>
                              
                                      <dxi-item itemType="group" cssClass="fourth-group" [colCount]="3">
                                        <dxi-item dataField="Otros pasivos"></dxi-item>
                                        <dxi-item dataField="Total pasivos no corrientes"></dxi-item>
                                        <dxi-item dataField="Total pasivos"></dxi-item>
                                      </dxi-item>
                            
                                      <dxi-item itemType="group" cssClass="fifth-group" [colCount]="1">  
                              
                                        <dxi-item 
                                        itemType="button"
                                        horizontalAlignment="right"
                                        [buttonOptions]="buttonModificar">
                                        </dxi-item>
                                  
                                      </dxi-item>
                                    </dx-form>
                                  </form>
                                </div>
                        </div>


                        <div class="tab-pane fade" id="pills-pasivo-anterior" role="tabpanel" aria-labelledby="pills-pasivo-anterior-tab">
                          <div id="form-container">
                            <form action="your-action" (submit)="onSubmit()"> 
                              <dx-form id="form">


                    
                            <dxi-item class="mb-0">
                            <p class="mb-0"><strong>Cuentas por cobrar</strong></p>
                            </dxi-item>

                            <dxi-item itemType="group" cssClass="first-group" [colCount]="4">
                              <dxi-item dataField="a 30 días"></dxi-item>
                              <dxi-item dataField="a 60 días"></dxi-item>
                              <dxi-item dataField="a 90 días"></dxi-item>
                              <dxi-item dataField="a +90 días"></dxi-item>
                            </dxi-item>

                            <dxi-item class="mb-0">
                              <p class="mb-0"><strong>Pasivos financieros corto plazo</strong></p>
                            </dxi-item>
                    
                            <dxi-item itemType="group" cssClass="second-group" [colCount]="4">
                              <dxi-item dataField="a 30 días"></dxi-item>
                              <dxi-item dataField="a 60 días"></dxi-item>
                              <dxi-item dataField="a 90 días"></dxi-item>
                              <dxi-item dataField="a +90 días"></dxi-item>
                            </dxi-item>

                            <dxi-item class="mb-0">
                              <p class="mb-0"><strong>Otros pasivos</strong></p>
                            </dxi-item>
                                                                              
                            <dxi-item itemType="group" cssClass="third-group" [colCount]="3">
                                <dxi-item dataField="Otros pasivos corrientes"></dxi-item>
                                <dxi-item dataField="Total pasivos corrientes"></dxi-item>
                                <dxi-item dataField="Obligaciones financieras"></dxi-item>
                            </dxi-item>
                    
                            <dxi-item itemType="group" cssClass="fourth-group" [colCount]="3">
                              <dxi-item dataField="Otros pasivos"></dxi-item>
                              <dxi-item dataField="Total pasivos no corrientes"></dxi-item>
                              <dxi-item dataField="Total pasivos"></dxi-item>
                            </dxi-item>
                  
                            <dxi-item itemType="group" cssClass="fifth-group" [colCount]="1">  
                    
                              <dxi-item 
                              itemType="button"
                              horizontalAlignment="right"
                              [buttonOptions]="buttonModificar">
                              </dxi-item>
                        
                            </dxi-item>
                          </dx-form>
                        </form>
                      </div>
                        </div>


                        <div class="tab-pane fade" id="pills-pasivo-2anteriores" role="tabpanel" aria-labelledby="pills-pasivo-2anteriores-tab">
                          <div id="form-container">
                            <form action="your-action" (submit)="onSubmit()"> 
                              <dx-form id="form">


                    
                            <dxi-item class="mb-0">
                            <p class="mb-0"><strong>Cuentas por cobrar</strong></p>
                            </dxi-item>

                            <dxi-item itemType="group" cssClass="first-group" [colCount]="4">
                              <dxi-item dataField="a 30 días"></dxi-item>
                              <dxi-item dataField="a 60 días"></dxi-item>
                              <dxi-item dataField="a 90 días"></dxi-item>
                              <dxi-item dataField="a +90 días"></dxi-item>
                            </dxi-item>

                            <dxi-item class="mb-0">
                              <p class="mb-0"><strong>Pasivos financieros corto plazo</strong></p>
                            </dxi-item>
                    
                            <dxi-item itemType="group" cssClass="second-group" [colCount]="4">
                              <dxi-item dataField="a 30 días"></dxi-item>
                              <dxi-item dataField="a 60 días"></dxi-item>
                              <dxi-item dataField="a 90 días"></dxi-item>
                              <dxi-item dataField="a +90 días"></dxi-item>
                            </dxi-item>

                            <dxi-item class="mb-0">
                              <p class="mb-0"><strong>Otros pasivos</strong></p>
                            </dxi-item>
                                                                              
                            <dxi-item itemType="group" cssClass="third-group" [colCount]="3">
                                <dxi-item dataField="Otros pasivos corrientes"></dxi-item>
                                <dxi-item dataField="Total pasivos corrientes"></dxi-item>
                                <dxi-item dataField="Obligaciones financieras"></dxi-item>
                            </dxi-item>
                    
                            <dxi-item itemType="group" cssClass="fourth-group" [colCount]="3">
                              <dxi-item dataField="Otros pasivos"></dxi-item>
                              <dxi-item dataField="Total pasivos no corrientes"></dxi-item>
                              <dxi-item dataField="Total pasivos"></dxi-item>
                            </dxi-item>
                  
                            <dxi-item itemType="group" cssClass="fifth-group" [colCount]="1">  
                    
                              <dxi-item 
                              itemType="button"
                              horizontalAlignment="right"
                              [buttonOptions]="buttonModificar">
                              </dxi-item>
                        
                            </dxi-item>
                          </dx-form>
                        </form>
                      </div>
                          </div>

                        </div>
                    
                    
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      <span><i class="icon-exclamation-solid"></i></span>
                      <span>Patrimonio</span> 
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      
                      <h4 class="mt-3">Fecha de Corte período</h4>

                      <ul class="nav nav-pills mb-3 mt-4" id="pills-patrimonio-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-patrimonio-actual-tab" data-bs-toggle="pill" data-bs-target="#pills-patrimonio-actual" type="button" role="tab" aria-controls="pills-patrimonio-actual" aria-selected="true">Actual</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-patrimonio-anterior-tab" data-bs-toggle="pill" data-bs-target="#pills-patrimonio-anterior" type="button" role="tab" aria-controls="pills-patrimonio-anterior" aria-selected="false">Anterior</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-patrimonio-2anteriores-tab" data-bs-toggle="pill" data-bs-target="#pills-patrimonio-2anteriores" type="button" role="tab" aria-controls="pills-patrimonio-2anteriores" aria-selected="false">2 Anteriores</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="pills-patrimonio-tabContent">
                        <div class="tab-pane fade show active" id="pills-patrimonio-actual" role="tabpanel" aria-labelledby="pills-patrimonio-actual-tab">
    
                          <div id="form-container">
                            <form action="your-action" (submit)="onSubmit()"> 
                              <dx-form id="form">

                            <dxi-item itemType="group" cssClass="first-group" [colCount]="3">
                              <dxi-item dataField="Capital social"></dxi-item>
                              <dxi-item dataField="Utilidades retenidas"></dxi-item>
                              <dxi-item dataField="Utilidad del ejercicio"></dxi-item>
                              <dxi-item dataField="Otros conceptos"></dxi-item>
                              <dxi-item dataField="Total patrimonio"></dxi-item>
                              <dxi-item dataField="Total pasivo y patrimonio"></dxi-item>
                            </dxi-item>
                  
                            <dxi-item itemType="group" cssClass="six-group" [colCount]="1">  
                    
                              <dxi-item 
                              itemType="button"
                              horizontalAlignment="right"
                              [buttonOptions]="buttonModificar">
                              </dxi-item>
                        
                            </dxi-item>
                          </dx-form>
                        </form>
                      </div>

                        </div>
                        <div class="tab-pane fade" id="pills-patrimonio-anterior" role="tabpanel" aria-labelledby="pills-patrimonio-anterior-tab">
                         
                          

                          <div id="form-container">
                            <form action="your-action" (submit)="onSubmit()"> 
                              <dx-form id="form">

                            <dxi-item itemType="group" cssClass="first-group" [colCount]="3">
                              <dxi-item dataField="Capital social"></dxi-item>
                              <dxi-item dataField="Utilidades retenidas"></dxi-item>
                              <dxi-item dataField="Utilidad del ejercicio"></dxi-item>
                              <dxi-item dataField="Otros conceptos"></dxi-item>
                              <dxi-item dataField="Total patrimonio"></dxi-item>
                              <dxi-item dataField="Total pasivo y patrimonio"></dxi-item>
                            </dxi-item>
                  
                            <dxi-item itemType="group" cssClass="six-group" [colCount]="1">  
                    
                              <dxi-item 
                              itemType="button"
                              horizontalAlignment="right"
                              [buttonOptions]="buttonModificar">
                              </dxi-item>
                        
                            </dxi-item>
                          </dx-form>
                        </form>
                      </div>

                        </div>
                        <div class="tab-pane fade" id="pills-patrimonio-2anteriores" role="tabpanel" aria-labelledby="pills-patrimonio-2anteriores-tab">
                          
                         
                          
                          <div id="form-container">
                            <form action="your-action" (submit)="onSubmit()"> 
                              <dx-form id="form">

                            <dxi-item itemType="group" cssClass="first-group" [colCount]="3">
                              <dxi-item dataField="Capital social"></dxi-item>
                              <dxi-item dataField="Utilidades retenidas"></dxi-item>
                              <dxi-item dataField="Utilidad del ejercicio"></dxi-item>
                              <dxi-item dataField="Otros conceptos"></dxi-item>
                              <dxi-item dataField="Total patrimonio"></dxi-item>
                              <dxi-item dataField="Total pasivo y patrimonio"></dxi-item>
                            </dxi-item>
                  
                            <dxi-item itemType="group" cssClass="six-group" [colCount]="1">  
                    
                              <dxi-item 
                              itemType="button"
                              horizontalAlignment="right"
                              [buttonOptions]="buttonModificar">
                              </dxi-item>
                        
                            </dxi-item>
                          </dx-form>
                        </form>
                      </div>

                        </div>
                      </div>
        
                    
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      <span><i class="icon-exclamation-solid"></i></span>
                      <span>Estado de resultados</span> 
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <h4 class="mt-3">Acumulado del período</h4>
                      <ul class="nav nav-pills mb-3 mt-4" id="pills-acumulado-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-acumulado-actual-tab" data-bs-toggle="pill" data-bs-target="#pills-acumulado-actual" type="button" role="tab" aria-controls="pills-acumulado-actual" aria-selected="true">Actual</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-acumulado-anterior-tab" data-bs-toggle="pill" data-bs-target="#pills-acumulado-anterior" type="button" role="tab" aria-controls="pills-acumulado-anterior" aria-selected="false">Anterior</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-acumulado-2anteriores-tab" data-bs-toggle="pill" data-bs-target="#pills-acumulado-2anteriores" type="button" role="tab" aria-controls="pills-acumulado-2anteriores" aria-selected="false">2 Anteriores</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="pills-acumulado-tabContent">
                        <div class="tab-pane fade show active" id="pills-acumulado-actual" role="tabpanel" aria-labelledby="pills-acumulado-actual-tab">
                          
                       

                          <div id="form-container">
                            <form action="your-action" (submit)="onSubmit()"> 
                              <dx-form id="form">

                            <dxi-item itemType="group" cssClass="first-group" [colCount]="3">
                              <dxi-item itemType="group" dataField="Fecha" >
                                <dx-date-box
                                [value]="now"
                                type="date">
                              </dx-date-box>
                              </dxi-item>
                              <dxi-item dataField="Ingresos"></dxi-item>
                              <dxi-item dataField="Costo de ventas"></dxi-item>
                            </dxi-item>
                    

                            <dxi-item itemType="group" cssClass="second-group" [colCount]="3">
                              <dxi-item dataField="Gasto operativo / Sin depreciación"></dxi-item>
                              <dxi-item dataField="Depreciaciones"></dxi-item>
                              <dxi-item dataField="Intereses"></dxi-item>
                              <dxi-item dataField="Otros egresos"></dxi-item>
                              <dxi-item dataField="Otros ingresos"></dxi-item>
                              <dxi-item dataField="Impuesto renta"></dxi-item>
                              <dxi-item dataField="Utilidad neta"></dxi-item>
                              
                            </dxi-item>

                            <dxi-item itemType="group" cssClass="third-group" [colCount]="1">  
                    
                              <dxi-item 
                              itemType="button"
                              horizontalAlignment="right"
                              [buttonOptions]="buttonModificar">
                              </dxi-item>
                        
                            </dxi-item>
                          </dx-form>
                        </form>
                      </div>

                        


                        </div>
                        <div class="tab-pane fade" id="pills-acumulado-anterior" role="tabpanel" aria-labelledby="pills-acumulado-anterior-tab">
                          
                          <div id="form-container">
                            <form action="your-action" (submit)="onSubmit()"> 
                              <dx-form id="form">

                            <dxi-item itemType="group" cssClass="first-group" [colCount]="3">
                              <dxi-item itemType="group" dataField="Fecha" >
                                <dx-date-box
                                [value]="now"
                                type="date">
                              </dx-date-box>
                              </dxi-item>
                              <dxi-item dataField="Ingresos"></dxi-item>
                              <dxi-item dataField="Costo de ventas"></dxi-item>
                            </dxi-item>
                    

                            <dxi-item itemType="group" cssClass="second-group" [colCount]="3">
                              <dxi-item dataField="Gasto operativo / Sin depreciación"></dxi-item>
                              <dxi-item dataField="Depreciaciones"></dxi-item>
                              <dxi-item dataField="Intereses"></dxi-item>
                              <dxi-item dataField="Otros egresos"></dxi-item>
                              <dxi-item dataField="Otros ingresos"></dxi-item>
                              <dxi-item dataField="Impuesto renta"></dxi-item>
                              <dxi-item dataField="Utilidad neta"></dxi-item>
                              
                            </dxi-item>

                            <dxi-item itemType="group" cssClass="third-group" [colCount]="1">  
                    
                              <dxi-item 
                              itemType="button"
                              horizontalAlignment="right"
                              [buttonOptions]="buttonModificar">
                              </dxi-item>
                        
                            </dxi-item>
                          </dx-form>
                        </form>
                      </div>


                        </div>
                        <div class="tab-pane fade" id="pills-acumulado-2anteriores" role="tabpanel" aria-labelledby="pills-acumulado-2anteriores-tab">
                          
                          
                          <div id="form-container">
                            <form action="your-action" (submit)="onSubmit()"> 
                              <dx-form id="form">

                            <dxi-item itemType="group" cssClass="first-group" [colCount]="3">
                              <dxi-item itemType="group" dataField="Fecha" >
                                <dx-date-box
                                [value]="now"
                                type="date">
                              </dx-date-box>
                              </dxi-item>
                              <dxi-item dataField="Ingresos"></dxi-item>
                              <dxi-item dataField="Costo de ventas"></dxi-item>
                            </dxi-item>
                    

                            <dxi-item itemType="group" cssClass="second-group" [colCount]="3">
                              <dxi-item dataField="Gasto operativo / Sin depreciación"></dxi-item>
                              <dxi-item dataField="Depreciaciones"></dxi-item>
                              <dxi-item dataField="Intereses"></dxi-item>
                              <dxi-item dataField="Otros egresos"></dxi-item>
                              <dxi-item dataField="Otros ingresos"></dxi-item>
                              <dxi-item dataField="Impuesto renta"></dxi-item>
                              <dxi-item dataField="Utilidad neta"></dxi-item>
                              
                            </dxi-item>

                            <dxi-item itemType="group" cssClass="third-group" [colCount]="1">  
                    
                              <dxi-item 
                              itemType="button"
                              horizontalAlignment="right"
                              [buttonOptions]="buttonModificar">
                              </dxi-item>
                        
                            </dxi-item>
                          </dx-form>
                        </form>
                      </div>   


                        </div>
                      </div>
        
        

                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                      <span><i class="icon-exclamation-solid"></i></span>
                      <span>Información Tributaria</span> 
                     
                    </button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      
                      <div id="form-container">
                        <form action="your-action" (submit)="onSubmit()"> 
                          <dx-form id="form">
      
                        <dxi-item itemType="group" cssClass="first-group" [colCount]="3">
                            <dxi-item dataField="Clasificación de renta">
                              <dx-radio-group
                                  [items]="prioritiesRenta"
                                  [value]="prioritiesRenta[0]"
                                  layout="horizontal">
                              </dx-radio-group>
      
                          </dxi-item>
                          <dxi-item dataField="Clasificación ICA">
                            <dx-radio-group
                                [items]="prioritiesIca"
                                [value]="prioritiesIca[1]"
                                layout="horizontal">
                            </dx-radio-group>
                          </dxi-item>
                          <dxi-item dataField="Intermediario del mercado cambiario">
                            <dx-radio-group
                                [items]="priorities"
                                [value]="priorities[0]"
                                layout="horizontal">
                            </dx-radio-group>
                          </dxi-item>
                          <dxi-item dataField="¿Maneja recurso públicos?">
                            <dx-radio-group
                                [items]="priorities"
                                [value]="priorities[0]"
                                layout="horizontal">
                            </dx-radio-group>
                          </dxi-item>
                          <dxi-item dataField="Responsable del IVA">
                            <dx-radio-group
                                [items]="priorities"
                                [value]="priorities[0]"
                                layout="horizontal">
                            </dx-radio-group>
                          </dxi-item>
                          <dxi-item dataField="Autorretenedor otros ingresos">
                            <dx-radio-group
                                [items]="priorities"
                                [value]="priorities[0]"
                                layout="horizontal">
                            </dx-radio-group>
                          </dxi-item>
                          <dxi-item dataField="Vigilado por la superintendencia financiera">
                            <dx-radio-group
                                [items]="priorities"
                                [value]="priorities[0]"
                                layout="horizontal">
                            </dx-radio-group>
                          </dxi-item>

                        </dxi-item>                              
      
              
                        <dxi-item itemType="group" cssClass="second-group mt-3" [colCount]="1">  
                
                          <dxi-item 
                          itemType="button"
                          horizontalAlignment="right"
                          [buttonOptions]="buttonModificar">
                          </dxi-item>
                    
                        </dxi-item>
                      </dx-form>
                    </form>
                  </div>



                    </div>
                  </div>
                </div>


                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingSix">
                    <button class="accordion-button collapsed filled-out" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                      <span><i class="icon-ok-circled"></i></span>
                      <span>Actividad económica</span> 
                      
                    </button>
                  </h2>
                  <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      
                      <div id="form-container">
                              <form action="your-action" (submit)="onSubmit()"> 
                                <dx-form id="form">

                                  <dxi-item dataField="TipoDePersona" editorType="dxSelectBox" [editorOptions]="{ items: states }"></dxi-item>

                                  <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
                                    <dxi-item dataField="Actividad económica principal" editorType="dxSelectBox" [editorOptions]="{ items: states }"></dxi-item> 
                                    <dxi-item dataField="Actividad económica secundaria" editorType="dxSelectBox" [editorOptions]="{ items: states }"></dxi-item> 
                                    <dxi-item dataField="Inventarios"></dxi-item>
                                    <dxi-item dataField="Sector Empresarial" editorType="dxSelectBox" [editorOptions]="{ items: states }"></dxi-item> 
                                  </dxi-item>

                    
                              <dxi-item itemType="group" cssClass="second-group" [colCount]="1">  
                      
                                <dxi-item 
                                itemType="button"
                                horizontalAlignment="right"
                                [buttonOptions]="buttonModificar">
                                </dxi-item>
                          
                              </dxi-item>
                            </dx-form>
                          </form>
                        </div>


                    </div>
                  </div>
                </div>




              </div>
              <div class="row mt-5  px-4">

                <div id="form-container">
                  <form action="your-action" (submit)="onSubmit()"> 
                    <dx-form id="form">
                      <dxi-item class="mb-0">
                        <p class="mb-0"><strong>Información adicional</strong></p>
                      </dxi-item>

                  <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
                      <dxi-item dataField="Relación obligaciones en mora">
                        <p>¿Tiene obligaciones en mora?</p>
                        <dx-radio-group
                            [items]="priorities"
                            [value]="priorities[0]"
                            layout="horizontal">
                        </dx-radio-group>

                    </dxi-item>
                    <dxi-item dataField="Residencia fiscal">
                      <p>¿Tiene residencia fiscal en un país diferente a Colombia?</p>
                      <dx-radio-group
                          [items]="priorities"
                          [value]="priorities[0]"
                          layout="horizontal">
                      </dx-radio-group>
                    </dxi-item>
                    <dxi-item dataField="Operaciones en moneda extranjera">
                      <p>¿Realiza transacciones en moneda extranjera?</p>
                      <dx-radio-group
                          [items]="priorities"
                          [value]="priorities[0]"
                          layout="horizontal">
                      </dx-radio-group>
                    </dxi-item>
                    <dxi-item dataField="Productos bancarios en moneda extranjera">
                      <p>¿Maneja productos bancarios en moneda extranjera?</p>
                      <dx-radio-group
                          [items]="priorities"
                          [value]="priorities[0]"
                          layout="horizontal">
                      </dx-radio-group>
                    </dxi-item>
                  </dxi-item>                              




        
                  <dxi-item itemType="group" cssClass="second-group mt-3" [colCount]="1">  
          
                    <dxi-item 
                    itemType="button"
                    horizontalAlignment="right"
                    [buttonOptions]="buttonModificar">
                    </dxi-item>
              
                  </dxi-item>
                </dx-form>
              </form>
            </div>


              </div>

             </div>

             
           </div>
       
       
       </div>

      </div>
   </dxi-item>
  
</dx-tab-panel>






